<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo - Get it done | Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Todo - Get it done</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="login.html">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="signup.html">Signup</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <section class="login-section">
    <form>
        <div class="login-icon icon d-flex align-items-center justify-content-center">
            <span class="fa fa-user" aria-hidden="true"></span>
        </div>
        <h3 class="text-center mb-4">Log in</h3>
        <div class="mb-3">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-label="Email Address" aria-describedby="emailHelp" placeholder="Email address">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" id="exampleInputPassword1" aria-label="Password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary rounded login-btn submit px-3">Login</button>
    </form>
    </section>
</body>
</html>