body {
    font-family: 'Open Sans', sans-serif;
}
.search {
    position: relative;
    box-shadow: none;
}

.search input {
    height: 40px;
    text-indent: 25px;
    border: none;
}

.search input:focus {
    box-shadow: none;
    border: none;
}

.search .fa-search {
    position: absolute;
    top: 11px;
    left: 10px;
    color: #5C636A;
}

h3 .fas {
    margin-right: 10px;
}

.dropend .dropdown-toggle::after {
    display: none;
}

.dropend{
    width: 10%;
}

.sortBtn {
    display: inline-block;
    border: none;
    padding: 5px 10px;
    margin: 0;
    text-decoration: none;
    background: #fff;
    color: #212529;
    text-align: center;
    font-size: 16px;
}

.sortBtn:hover {
    background-color: #9ca5ad;
    color: #fff;
}