{% extends "base.html" %}
{% block title %} Todo - Get it done | Profile {% endblock %}
{% block content %}
    <!-- Search and add button -->
    <div class="d-flex justify-content-center align-items-center mt-5">

        <div class="btn-group mx-3">
          <button type="button" class="btn btn-secondary">Filter by</button>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Category</a></li>
            <li><a class="dropdown-item" href="#">Status</a></li>
            <li><a class="dropdown-item" href="#">Priority</a></li>
          </ul>
        </div>


        <button type="button" class="btn sortBtn mx-3">Sort</button>


        <div class="search mx-3">
          <i class="fas fa-search"></i>
          <input type="text" class="form-control" placeholder="Search task" aria-label="Search">
        </div>



        <div class="btn-group mx-3">
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#categoryModal">New</button>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#categoryModal">Category</a></li>
            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#myModal">Task</a></li>
          </ul>
        </div>

        <div class="modal fade" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">

             <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Create a new task</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>

            <!-- Modal body -->
              <div class="modal-body">
                <form action="/create-task" method="POST">
                  <div class="mb-3">
                    <label for="taskName" class="form-label">Task name</label>
                    <input type="text" class="form-control" name="taskName" id="taskName" aria-describedby="">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Task description</label>
                    <textarea class="form-control" name="taskDescription" id="exampleFormControlTextarea1" rows="3"></textarea>
           	  </div>
		  <!--
                  <div class="mb-3">
                    <select name="categories" class="form-select" aria-label="Default select example">
                      <option selected>Select category</option>
                      {#% for category in user.user_category %}
                      <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                      {% endfor %#}
                    </select>
                  </div>
		  -->
                    <div class="mb-3">
                      {% for category in user.user_category %}
                      <div class="form-check form-check-inline">
                        <label class="form-check-label">{{category.category_name}}</label>
                        <input class="form-check-input" type="checkbox" name="taskCategory" aria-label="Category" value="{{category}}">
                      </div>
                      {% endfor %}
                  </div>
		  
                  <div class="mb-3">
                    <h6>Priority</h6>
                    <input type="radio" class="btn-check" name="priorityName" id="success-outlined" autocomplete="off" value="Low">
                    <label class="btn btn-outline-success" for="success-outlined">Low</label>
                    
                    <input type="radio" class="btn-check" name="priorityName" id="warning-outlined" autocomplete="off" value="Medium">
                    <label class="btn btn-outline-warning" for="warning-outlined">Medium</label>
                    
                    <input type="radio" class="btn-check" name="priorityName" id="danger-outlined" autocomplete="off" value="High">
                    <label class="btn btn-outline-danger" for="danger-outlined">High</label>
                  </div>
                  <button type="submit" class="btn btn-primary" style="width: 100%;">Create</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="categoryModal">
          <div class="modal-dialog">
            <div class="modal-content">

             <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Create a new category</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>

            <!-- Modal body -->
              <div class="modal-body">
                <form action="/create-category" method="POST">
                  <div class="mb-3">
                    <label for="categoryName" class="form-label">Category name</label>
                    <input type="text" class="form-control" name="categoryName" id="categoryName" aria-describedby="">
                  </div>
                  <button type="submit" class="btn btn-primary" style="width: 100%;">Create</button>
                </form>
              </div>
            </div>
          </div>
        </div>

    </div>
    <hr>

    <!-- Task process -->
    <!-- TODO -->
    <div class="container">
      <div class="d-flex">
        <div class="col mx-4">
          <h3 class="mb-3">Categories</h3>
          {% for category in user.user_category %}
          <h6 class="category">{{ category.category_name }}</h6>
          <button type="button" class="btn btn-outline-danger changeBtn"><a href='/delete/{{ category.id }}'>Delete</a></button>
          <button type="button" class="btn btn-outline-primary"><a href='/update/{{category.id}}'>Edit</a></button>
          {% endfor %}
        </div>

        <div class="col mx-4">
          <h3 class="mb-3"><i class="fas fa-th-list"></i> To-do</h3>
	        {% for task in user.user_task %}
          <div class="col border border-2 rounded p-2">
	            <h5 class="fw-bold p-2">{{ task.task_name }}</h5>
              <p class="fs-6">
	            {{ task.task_description }}
              </p>
              <hr>
            <div class="priority-category">
	            <h6 class="priority-low"><span>{{ task.task_priority }}</span></h6>
              <h6 class="category-name"><span></span></h6>
              <h6 class="category-name"><span></span></h6>
	            <button type="button" class="btn btn-outline-danger"><a href='/delete-task/{{ task.id }}'>Delete</a></button>
            </div>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <i class="fas fa-ellipsis-v"></i>
            </button>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                <ul>
                  <li><a class="dropdown-item" href="#">Move to <strong>In progress</strong></a></li>
                  <li><a class="dropdown-item" href="#">Move to <strong>Completed</strong></a></li>
                </ul>
              </div>
            </div>
          </div>
	        {% endfor %}
        </div>
        <!-- In progress -->
        <div class="col mx-4">
          <h3 class="mb-3"><i class="fas fa-spinner"></i> In progress</h3>
          <div class="col border border-2 rounded p-2">
            <h5 class="fw-bold p-2">Write a blog</h5>
            <h6 class="btn btn-warning">Medium</h6>
            <p class="fs-6">
              Finish the last paragraph and insert images explaining structure of web and how does it works.
            </p>
            <div class="dropend ms-auto">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Move to <strong>To-do</strong></a></li>
                <li><a class="dropdown-item" href="#">Move to <strong>In progress</strong></a></li>
                <li><a class="dropdown-item" href="#">Move to <strong>Completed</strong></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Completed -->
        <div class="col mx-4">
          <h3 class="mb-3"><i class="fas fa-check-double"></i> Completed</h3>
          <div class="col border border-2 rounded p-2">
            <h5 class="fw-bold p-2">Check emails</h5>
            <h6 class="btn btn-danger">High</h6>
            <p class="fs-6">
              Check all emails
            </p>
            <div class="dropend ms-auto">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Move to <strong>To-do</strong></a></li>
                <li><a class="dropdown-item" href="#">Move to <strong>In progress</strong></a></li>
                <li><a class="dropdown-item" href="#">Move to <strong>Completed</strong></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
