{% extends "base.html" %}
{% block title %} Todo - Get it done | Profile {% endblock %}
{% block content %}
    <!-- Search and add button -->
    <div class="d-flex justify-content-center align-items-center mt-5">

        <div class="btn-group mx-3">
          <button type="button" class="btn btn-secondary">Filter by</button>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Category</a></li>
            <li><a class="dropdown-item" href="#">Status</a></li>
            <li><a class="dropdown-item" href="#">Priority</a></li>
          </ul>
        </div>


        <button type="button" class="btn sortBtn mx-3">Sort</button>


        <div class="search mx-3">
          <i class="fas fa-search"></i>
          <input type="text" class="form-control" placeholder="Search task" aria-label="Search">
        </div>



        <div class="btn-group mx-3">
          <button type="button" class="btn btn-secondary">New</button>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Category</a></li>
            <li><a class="dropdown-item" href="#">Task</a></li>
          </ul>
        </div>

    </div>
    <hr>

    <!-- Categories -->

    <!-- Task process -->
    <!-- TODO -->
    <div class="container">
      <div class="d-flex">
        <div class="col mx-4">
          <h3 class="mb-3"><i class="fas fa-th-list"></i> To-do</h3>
          <div class="col border border-2 rounded p-2">
            <h5 class="fw-bold p-2">Work with AirBnB Project</h5>
            <p class="fs-6">
            </p>
            <hr>
            <div class="priority-category">
              <h6 class="priority-low"><span></span></h6>
              <h6 class="category-name"><span></span></h6>
              <h6 class="category-name"><span></span></h6>
            </div>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <i class="fas fa-ellipsis-v"></i>
            </button>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                <ul>
                  <li><a class="dropdown-item" href="#">Move to <strong>In progress</strong></a></li>
                  <li><a class="dropdown-item" href="#">Move to <strong>Completed</strong></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- In progress -->
        <div class="col mx-4">
          <h3 class="mb-3"><i class="fas fa-spinner"></i> In progress</h3>
          <div class="col border border-2 rounded p-2">
            <h5 class="fw-bold p-2">Write a blog</h5>
            <h6 class="btn btn-warning">Medium</h6>
            <p class="fs-6">
              Finish the last paragraph and insert images explaining structure of web and how does it works.
            </p>
            <div class="dropend ms-auto">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Move to <strong>To-do</strong></a></li>
                <li><a class="dropdown-item" href="#">Move to <strong>In progress</strong></a></li>
                <li><a class="dropdown-item" href="#">Move to <strong>Completed</strong></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Completed -->
        <div class="col mx-4">
          <h3 class="mb-3"><i class="fas fa-check-double"></i> Completed</h3>
          <div class="col border border-2 rounded p-2">
            <h5 class="fw-bold p-2">Check emails</h5>
            <h6 class="btn btn-danger">High</h6>
            <p class="fs-6">
              Check all emails
            </p>
            <div class="dropend ms-auto">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Move to <strong>To-do</strong></a></li>
                <li><a class="dropdown-item" href="#">Move to <strong>In progress</strong></a></li>
                <li><a class="dropdown-item" href="#">Move to <strong>Completed</strong></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
